# Virtual Environment
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
db.sqlite3
*.log
media/
staticfiles/
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Frontend
node_modules/
dist/
build/
.vite/
